
#home {
  position: relative;

}
#home-background-image {
  position: absolute;
  width: 100%;

}
#home-background-image > img {
  width: 100%;
  z-index: 0;
}
#home-content {
  position: absolute;
  width: 100%;

  z-index: 5;
  background-color: cyan;
  opacity: 0.4;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

}

#analog-clock {
  opacity: 1;
  margin-bottom: 50px;
  margin-top: 5px;
}

