
* {
    margin: 0;
    padding: 0;
  }

  body{
    background-image: url('/public/images/home.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .menu-items {
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #C4CAD7;
  }
  .logo img{
 max-width: 45px;
 margin-right: 400px;
  }
  
  .menu-items > a {
   padding: 70px;
  }

/* footer css*/
.footer{
margin-top: 1rem;
  padding: 1rem;
  background-color: #C4CAD7;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

#home{
text-align: center;
}

#analog-clock {
  opacity: 1;
  position:absolute; 
  margin: 220px;
}
