@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
    overflow-x: hidden !important;

  }


  body{
  
    background-image: url('/public/images/home.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .menu-items {
    width: 100vw;
    display: flex;
    padding: 0 10vw;
    background-color: #C4CAD7;
    align-items: center;
  }
  .logo{

    display: flex;
    align-items: center;
  }
  .logo img{
      max-width: 35px;
      padding: 5px;
  }
  .logoContent a {
    text-decoration: none ;
    color  : black  ;
  }
.nav-links {
 
 margin:  0 13vw;
  padding-right: 10vw;
  display : flex ; 
  flex-wrap: wrap;

}
.nav-links > a  {
  margin:  0 5vw ;
  color : black ;
  text-decoration: none;
  font-weight: 500;
}


/* footer css*/
.footer{
  margin-top: 1rem;
  padding:5px;
  background-color: #C4CAD7;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
/**
* Style For Home Page 
*/
#clocks-container {

  display: flex;
  width : 100%;
  flex-direction: column;
  align-items: center;
  padding: 5% 0 ;
}

.digital-clock {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  overflow-y: hidden;


}
.digital-clock * {
  overflow-y: hidden;
}
.digital-clock > div {
  background-color: #c4cad79d;
  border: 2px solid black  ;
  border-radius: 15px;
  padding: 15px 10px;
 
}

.digital-clock > div * {
  color: black !important;
}


.toggle-clocks{
  background-color: #c4cad775;
  color: black;
  padding: 10px;
  margin: 15px 0;
  cursor: pointer;
  border-radius: 30px;
  min-width: 100px;
  font-size: 17px;
  font-weight: normal;
  font-weight: 450;
  font-kerning: auto;
}

.city{
  background-color: white;
  max-width: 650px;
}


/**
  Style For Favorite Page 
*/

#favorite{
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  user-select: none;
  overflow-y: hidden;

}

.fav-clock {
  display : flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.fav-clock-col{
  width: 20px;
  height: 25px;
  background-color: #ececec;
}


.fav-city-name {
  padding: 5px 10px;
  min-width: 120px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  background-color: #ececec;
  border: 2px solid black;
  margin-bottom: 10px;
}
.sc-bdvvtL::before{

  font-size:  18px !important;

}
.fav-digital-clock * {
  overflow-y: hidden;
}
.fav-digital-clock > div *{
    color:  #ececec !important;
    font-size: 30px;

  }

#show-fav-cities{

  position: relative;
  margin-bottom:  35px;

}
#show-fav-cities > div:nth-child(1){
    position: absolute;
    height: 30px;
    width: 80%;
    top: calc(85px - 15px);
    left:75px;
    background-color: darkgray;
    z-index: 0;
}
#show-fav-cities > div:nth-child(2){
  display: flex;
  flex-wrap:  wrap;
  justify-content: center;
}


#btn-add-city {
  background-color: darkgray;
  padding: 10px;
  cursor: pointer;
  border-radius: 30px;
  min-width: 150px;
  font-size: 17px;
  font-weight: bold;
  font-weight: 450;
  font-kerning: auto;
}

#model-for-cities {
  position: absolute;
  top: 10% ;
  width: 500px;
  max-height: 455px;

  background-color: #C4CAD7 ;
  border-radius: 20px;
  display: flex ;
  flex-direction: column;
  padding: 10px;

}
#model-for-cities > div {

  position: relative;
  width: 100%;
  overflow-y: hidden;
  padding-top: 30px;

}
#model-cities-container {
  overflow-y: scroll;
  height: 600px;
}
#model-for-cities > div > span:first-child {
  color:  red ;
  font-size: 24px;
  font-weight: bolder;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top : -10px;
  right : -5px

}
.model-show-city{
  display: flex ;
  padding: 10px;
  justify-content: space-between;
  border-bottom: 1px black solid ;
}
.model-show-city:hover{
  background-color: #ececec;
  cursor: pointer; 
}

.model-show-city > img {
  width: 50%;
}
.model-show-city-info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width : 45%;
  align-items: baseline;
}
.model-show-city-info bold {
  font-size: 18px;
  font-weight: bold;
}
/** 
 city detail css
*/

.city-detail {
  position: absolute;
  width: 100%;
  height: 100%;
}

.city-detail img {
  width: 100%;
  height: 100%;
}

.text {
  position: absolute;
  width: 90vw;
  top: 10vh;
  margin-bottom:  20px;
  padding-bottom:  20px;
  left: 5vw;
  background-color: rgba(3, 3, 3, 0.644);
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display:  flex;
  flex-direction:  column;
}

.city-detail   h1{
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 5px;
}

.city-detail  p{
  margin-top: 1opx;
  padding: 10px;
}

.city-dc-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.city-dc-container > .description {
  max-width: 50%;

}


.btn{
  position: relative;
  float: left;
}

@media screen and (max-width : 360px) {
  #show-fav-cities > div:nth-child(1) {
    display:  none;
  }
  .city-detail {
    width : 90vw;
    min-height: 700px;
    max-height: 900px;
  }
}
/**
 city list css
*/

.city{
  background-color: rgb(23, 130, 172);
  margin-bottom: 1%;
  max-width: 650px;
  cursor: pointer;
  padding: 25px;
  border-bottom: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  }
  .city img{
  float: right;
  width: 35%;
  border-radius: 5px;
  }
  .city h3{
  margin: 0;
  }
  .city:hover{
  background-color: rgb(42, 177, 226);
  }

  .city-list{

    margin: 10px 0;
  }

/**
  responsive
*/

@media screen and (max-width : 865px) {
    #show-fav-cities > div:nth-child(1) {
      display:  none;
    }
    #model-for-cities {
      width : 90vw;
      min-height: 700px;
      max-height: 900px;
    }
    #favorite {
        margin-bottom:  30px;
    }

    .nav-links {
        margin: 10px 5vw;
        flex-flow: nowrap;
    }
    .menu-items {
      flex-wrap: wrap;
      padding-top: 10px;
      padding-bottom: 5px;
    }
    .fav-clock{
      margin-top: 5px;
    }
    .city-dc-container > * {
      margin-top: 10px;
    }  
  .city-dc-container > .fav-clock {
      margin: auto;
  }
  .city-dc-container > .description {
    margin: auto;
  }
}