html {
  overflow-y: hidden;
}
#favorite {
  position: relative;

}
#favorite-background-image {
  position: absolute;
  width: 100%;

}
#favorite-background-image > img {
  width: 100%;
  z-index: 0;
}
#favorite-content {
  position: absolute;
  width: 100%;
  z-index: 5;
  background-color: cyan;
  opacity: 0.4;
  height: 100vh;

  text-align: center;

}

