html {
  overflow-y: hidden;
}
#home {
  position: relative;

}
#home-background-image {
  position: absolute;
  width: 100%;

}
#home-background-image > img {
  width: 100%;
  z-index: 0;
}
#home-content {
  position: absolute;
  width: 100%;

  z-index: 5;
  background-color: cyan;
  opacity: 0.4;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

}

#analog-clock {
  opacity: 1;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* header css */
.Header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #C4CAD7;
  color: #3C64B1;
}

/* footer css*/
.Footer{
margin-top: 1rem;
  padding: 1rem;
  background-color: #C4CAD7;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: 3C64B1;
}

